body{
    background-color:#eee;
}

tr, td{
  margin: 0px;
  padding: 4px 8px;
}

img{
    width: 128px;
    height: 96px;
    background-color: white;    
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,1) -1px 1px 0 inset;
}
img.unsolvable{
    background-color: #ddd;
}
img:hover{
    background-color: #dcc;
}



p{
  padding: 0px 8px;
}

span.level{
    font-size: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 128px;
    height: 96px;
    color: red;
    position:relative;
    top:-96px;
    left:0px;
}

#field{
    width: 640px;
    height: 480px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,1) -1px 1px 0 inset;
}

#lines{
    width: 100px;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,1) -1px 1px 0 inset;
}


#info{
    color: red;
}

